<a href="https://colab.research.google.com/github/ronav06/python-learning-note-book/blob/main/A7_List_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![c4.PNG](attachment:c4.PNG)

<h2 style='color:hotpink' align='center'>MODULE: PYTHON LANGUAGE</h2>

<h2 style='color:blue' align='center'>Topic: List</h2>

<h2 style='color:#C60D25' align='center'>Assignment</h2>

<h2 style='color:black' align='left'>Instructions:</h2>

* Please complete below assignment on this jupyter notebook.Once complete please upload the file in your dashboard assignments block (where you are downloaded) as a .ipynb file format


* Due date: To be submitted before teh next topic/session


* Scoring/Marks: As per topic guidelines

### 1) Write a Python program to interchange first and last elements in a list

#### Input : [1,2,3,4,5]

#### Output : [5,4,3,2,1]

In [1]:
list1 = [1,2,3,4,5]
list1[0],list1[-1] = list1[-1],list1[0]
print(list1)

[5, 2, 3, 4, 1]

### 2) Write a Python program to swap two elements in a list

#### Input : List = [7,8,9,10,11]

#### Output : [7, 11, 9, 10, 8]

In [2]:
list2 = [7,8,9,10,11]
list2[1],list2[3] = list2[3],list2[1]
print(list2)

[7, 10, 9, 8, 11]

### 3) Write a python program Remove Duplicate elements from a list in Python

### a = [1,1,2,3,2,2,1,3,4,4,5,6]

In [ ]:
list3 = [1,1,2,3,2,2,1,3,4,4,5,6]
list3 = list(set(list3))
print(list3)

### 4) Write a Python program to find length of list

### a = [1,1,2,3,2,2,1,3,4,4,5,6]

In [3]:
list4 = [1,1,2,3,2,2,1,3,4,4,5,6]
print(len(list4))

12

### 5) Write a Python program to count Even and Odd numbers in a List  

### a = [22,3,34,45,66,67,7,78,44,56,4,33,65]

In [13]:
a = [22,3,34,45,66,67,7,78,44,56,4,33,65]
for i in a:
    if i%2==0:
        print("even numbers are", i)
for i in a:
    if i%2!=0:
        print("odd numbers are", i)

even numbers are 22
even numbers are 34
even numbers are 66
even numbers are 78
even numbers are 44
even numbers are 56
even numbers are 4
odd numbers are 3
odd numbers are 45
odd numbers are 67
odd numbers are 7
odd numbers are 33
odd numbers are 65

### 6) Write a Python program How to count unique values inside a list

### a=[1,1,1,2,21,21,2,3,4,55,3,55,6]

In [20]:
b = [1,1,1,2,21,21,2,3,4,55,3,55,6]
for i in b:
    if b.count(i)==1:
        print(i)

4
6

### 7) Write a python program to display even position number in the given list

### a = [1, 3, 5, 6, 3, 5, 6, 1]

In [22]:
w = [1,2,5,6,3,5,6,1]
for u in a:
    if u%2==0:
        print("even numbers are", i)

even numbers are 1
even numbers are 1
even numbers are 1
even numbers are 1
even numbers are 1
even numbers are 1
even numbers are 1

### 8) What are the properties of the list?

In [28]:

list5 = [1,2,3,4,5]
list5.append(6)
print(list5)
list5.remove(1)
list5.insert(2, 5)
print(list5)
list5.pop()
print(list5)
list5.reverse()
print(list5)

[1, 2, 3, 4, 5, 6]
[2, 3, 5, 4, 5, 6]
[2, 3, 5, 4, 5]
[5, 4, 5, 3, 2]

### 9)

"""Consider a list (list = []). You can perform the following commands:

1)insert 5 in a: Insert integer 3rd at position .

2)print: Print the list.

3)remove a: Delete the first occurrence of integer .

4)append a: Insert integer  at the end of the list.

5)sort: Sort the list.

6)pop: Pop the last element from the list.

7)reverse: Reverse the list.

8)print the final list

Iterate through each command in order and perform the corresponding operation on your list."""

### 10)

''' Create a one element list

insert 1 3     

insert 2 15

insert 0 9

print

remove 15

append 4

append 5

sort

print

pop

reverse

print'''

#### output
[9, 3, 15]

[3, 4, 5, 9]

[5,4,3]

In [30]:
p = []
p.insert(1,3)
p.insert(2,15)
p.insert(0,9)
print(p)
p.remove(15)
p.append(4)
p.append(5)
p.sort()
print(p)
p.pop()
p.reverse()
print(p)

[9, 3, 15]
[3, 4, 5, 9]
[5, 4, 3]

### 11) Write a program to find second largest number of list

In [29]:
a = [1,2,3,45,32,96,43,528,63]
a.sort()
print("second largest number is", a[-2])

[1, 2, 3, 32, 43, 45, 63, 96, 528]
second largest number is 96

### 12) Waht is the list methods and explain with relative exeamples?