<a href="https://colab.research.google.com/github/ronav06/python-learning-note-book/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THIS IS A NOTEBOOK WITH DETAILS TO LEARN ***PYTHON***

In [ ]:
'''
some text here
'''

'\nsome text here\n'

text above  in ''' won't be exicuted (propely) as python dosn't allow when text is in ''' '''

# 1. comments

In [ ]:
# this is a comment helps you understand a code

# 2. print statements

In [ ]:

print("Hello World")

Hello World

**print** is used to show text

# 3.varibles

In [ ]:
a = 4
a

4

to add varibles you can do a = 5 (for example)

once a **varible** is added you can use it in your code by using its name

# types of varibles

In [ ]:
name = "Ronav"
age = 11
height = 4.5
print(age)     #answer is 11 [age]
print(height)  #answer is 4.5 [height]
print(name)     #answer is ronav [name]
print(type(name))# is string
print(type(age))# is integer
print(type(height))# is float

11
4.5
Ronav
<class 'str'>
<class 'int'>
<class 'float'>



*   int stands for integer [any number without decimal]
*   float is said for decimal

*   whatever is in the "" is called string(str)

varible is used to store data,like shown above

when we see a *green tick* next to a play button ina code we know that a code data is stored and exicuted properly

In [ ]:
name = "Deepa"
age = 44
height = 5.2

to check the type we use `type`

In [ ]:
age = 17
print(age + 3)

20

we can also do math operations

# 4.input

In [ ]:
number = input("give me one number ")
number = int(number)
print(number + 5)

give me one number 45
50

**input** is used to display a question( "What is your name? ")

we should always specify what type of varible we are asking question

In [ ]:
print(len(name))

5

len is used to check how many letters a varible (over here with refernce from `name = deepa`...

# 5.type changing

In [ ]:
age = str(age) # we are changing the varible from integer to string
print(type(age))

<class 'str'>

we can change the type of varibles too

In [ ]:
print(age)

44

anything in " " is a string even if it is a no. answer is still 44 as 44 is in "44" which is a string

In [ ]:
num1 = 56
num1 = float(num1)
print(num1)

56.0

In [ ]:
num2 = "world"
num2 = "123"
num2 = int(num2)
print(num2)
print(type(num2))

123
<class 'int'>

we can change string to integer if we set a number value (varible)

In [ ]:
no1 = input("give me a no")
no2 = input("give me another no")
no1 = int(no1)
no2 = int(no2)
print(no1 + no2)

give me a no70
give me another no56
126

In [ ]:
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? RONAV
Hello, RONAV!

In [ ]:
no67 = input("what is your name")
print(no67)
type(no67)

what is your nameRonav
Ronav

str

# 6. if

In [ ]:
age = int(input("enter your age"))
if age >= 18:
  print("you are an adult")

enter your age 45
you are an adult

to add if condition first

*   add if '...' = '...'

# 7.comparing units

for less than '<'
for less than '>'

always keep a *space* after **if statement** and **output**

In [ ]:
population = int(input("enter the population"))
if population >= 1000:
 print("your city is overpopulated")

enter the population23455
your city is overpopulated

# keywords

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

we will learn about import later

varibles name not to use = ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield'] (all are string or python keyword)

# if continued

In [ ]:
password = input("enter password")
password = str(password)
if password == ("Ronav Chodankar08"):
  print("access granted")

enter passwordRonav Chodankar08
access granted

steps for comparision

*  equal to - ==
*  less than - <
*  greater than - >

In [ ]:
print(3 == 5)

False

In [ ]:
print(3 == 3)

True

In [ ]:
print( 4 > 6)

False

In [ ]:
print(6>3)

True

In [ ]:
print(5<9)

True

In [ ]:
print(78 <100)

True

In [ ]:
print(5 != 0)

True

In [ ]:
print(3 != 3)

False

we use the method shown above for not equal to

In [ ]:
weight1 = 20 # kg
weight2 = 80 # kg
height1 = 4 # feet
height2 = 5 # feet
print(weight1 + height1 == weight2 + height2) # the statement is false as weight 2 + height 2 is larger

False

# 8.and,not,or



` and`  only when both conditions in and it is true `(3 == 3) and (4 > 1)` `true`

`or` even if one condition is correct it is true `(3 == 4) or (5 > 2)` ` true `

`not`is used to show opposite value not `(4 > 5) ` [ is acclually true but ] output will be `false`

In [5]:
a = 3
b = 6
c = 12
if b > a and c > b:
  print("both statements are true") # using and

if b < a or c == c:
  print("one statement is true")  # using or

if not (a > b):
  print("a is not bigger than b") # using not

both statements are true
one statement is true
a is not bigger than b

# 9.else and elif

there are three basic python condititional statements` if else `and` elif`

In [8]:
loan = input("enter your salary")
loan = str(loan)
if int(loan) >= 25000:
  print("you are eligible for loan")
else:
  print("you are not eligible for loan")

enter your salary100000
you are eligible for loan

if conditional statement is not true then else gives output

In [13]:
age = int(input("what is your age"))

if age >= 18:
  print("you are an adult")
elif age >= 13:
  print("you are a teenager")
else:
  print("you are a child")

what is your age 16
you are a teenager

In [19]:
marks = int(input("enter your marks"))
if marks == 100:
  print("A+")
elif marks >= 90:
  print("A")
elif marks >= 80:
  print("B")
elif marks >= 70:
  print("C")
elif marks >= 60:
  print("D")
elif marks >= 51:
  print("E")
elif marks == 50:
  print("just passed")
elif marks >= 101:
  print("you are lying")
else:
  print("failed")

enter your marks  100
A+

nesting means adding multiple if conditions