<a href="https://colab.research.google.com/github/ronav06/python-learning-note-book/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

THIS IS A NOTEBOOK WITH DETAILS TO LEARN ***PYTHON***

In [ ]:
name = input("What is your name? ")
print("Hello, " + name + "!")

What is your name? RONAV
Hello, RONAV!

In [ ]:
'''
some text here
'''

'\nsome text here\n'

text above  in ''' won't be exicuted (propely) as python dosn't allow when text is in ''' '''

**input** is used to display a question( "What is your name? ")

In [ ]:
# this is a comment helps you understand a code

In [ ]:

print("Hello World")

Hello World

**print** is used to show text

In [ ]:
a = 4
a

4

to add varibles you can do a = 5 (for example)

once a **varible** is added you can use it in your code by using its name

In [ ]:
name = "Ronav"
age = 11
height = 4.5
print(age)     #answer is 11 [age]
print(height)  #answer is 4.5 [height]
print(name)     #answer is ronav [name]
print(type(name))# is string
print(type(age))# is integer
print(type(height))# is float

11
4.5
Ronav
<class 'str'>
<class 'int'>
<class 'float'>



*   int stands for integer [any number without decimal]
*   float is said for decimal

*   whatever is in the "" is called string(str)

varible is used to store data,like shown above

when we see a *green tick* next to a play button ina code we know that a code data is stored and exicuted properly

In [ ]:
name = "Deepa"
age = 44
height = 5.2

to check the type we use `type`

In [ ]:
age = 17
print(age + 3)

20

we can also do math operations

In [ ]:
number = input("give me one number ")
number = int(number)
print(number + 5)

give me one number 45
50

we should always specify what type of varible we are asking question

In [ ]:
print(len(name))

5

len is used to check how many letters a varible (over here with refernce from `name = deepa`...

In [ ]:
age = str(age) # we are changing the varible from integer to string
print(type(age))

<class 'str'>

we can change the type of varibles too

In [ ]:
print(age)

44

anything in " " is a string even if it is a no. answer is still 44 as 44 is in "44" which is a string

In [ ]:
num1 = 56
num1 = float(num1)
print(num1)

56.0

In [ ]:
num2 = "world"
num2 = "123"
num2 = int(num2)
print(num2)
print(type(num2))

123
<class 'int'>

we can change string to integer if we set a number value (varible)

In [4]:
no1 = input("give me a no")
no2 = input("give me another no")
no1 = int(no1)
no2 = int(no2)
print(no1 + no2)

give me a no70
give me another no56
126

In [7]:
no67 = input("what is your name")
print(no67)
type(no67)

what is your nameRonav
Ronav

str